<launch>
	<!-- Starting the ircServer_node -->
	<node pkg="ibo1_irc_api" type="ircServer" name="ircServer" output="screen" />
	
	<!-- Starting the ircChess_node-->
	<node pkg="ibo1_irc_api" type="ircChess" name="ircChess" output="screen" />

	<!-- Starting the ircSystemStateMachine_node-->
	<node pkg="ibo1_irc_api" type="ircSystemStateMachine" name="ircSystemStateMachine" output="screen" />

	<!-- Starting the CreateTarget_node-->
	<node pkg="ibo1_irc_api" type="ircCreateTarget" name="ircCreateTarget" output="screen" />

	<!-- Group for imageProcessing-->
    <group ns="imageProcessing">

        <!--Including launch file for external camera imageProcessing -->
        <include file="$(find ibo1_irc_api)/launch/ec_imageProcessing.launch">
            <arg name="input_max_corners" value="100"/>
            <arg name="debug" value="${arg debug}"/>
        </include>
    </group>


	<!-- RobotArmStateMachine launch-->
	<group ns="my_gen3">
        <!--Starting theRobotArmStateMachine-->
        <node pkg="ibo1_irc_api" type="ircRobotArmStateMachine" name="ircRobotArmStateMachine" output="screen" />
    </group>

	<!-- Static broadcaster for restPosition and graveyards-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="staticBroadcasterRestPosition" args="0.22 -0.25 0.3 0.707 0.707 0 0 base_link restposition_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="staticBroadcasterGraveyard" args="0.6 0.25 0 -0.000 1.000 0.000 0.000 base_link graveyard_frame" />
</launch>