<?xml version="1.0"?>
<model>
  <name>chessboard</name>
  <version>0.1.0</version>
  <author>
   <name>Jan Rosell</name>
   <email>jan.rosell@upc.edu</email>
  </author>
  <sdf>chessboard.sdf</sdf>
  <description>
    Chessboard
    Original taken from: https://gitioc.upc.edu/rostutorials/gazebo_sensors_tutorial/-/tree/ab3ed9f585e19d5899b1a1fd356a4746b57ff68f/models 
  </description>
</model>


